/*CSS Classes from Photoshop*/
.medb2 {
  position: absolute;
  left: 1318px;
  top: 679px;
  width: 1074px;
  height: 328px;
  z-index: 50;
}
.big {
  position: absolute;
  left: 0px;
  top: 530px;
  width: 1398px;
  height: 249px;
  z-index: 49;
}
.medb1 {
  position: absolute;
  left: 1327px;
  top: 366px;
  width: 1074px;
  height: 330px;
  z-index: 48;
}
.med1 {
  position: absolute;
  left: 18px;
  top: 635px;
  width: 489px;
  height: 784px;
  z-index: 47;
}
.med2 {
  position: absolute;
  left: 614px;
  top: 635px;
  width: 490px;
  height: 784px;
  z-index: 46;
}
.med3 {
  position: absolute;
  left: 1211px;
  top: 635px;
  width: 489px;
  height: 784px;
  z-index: 45;
}
.med4 {
  position: absolute;
  left: 91px;
  top: -25px;
  width: 490px;
  height: 784px;
  z-index: 44;
}
.med5 {
  position: absolute;
  left: 722px;
  top: -53px;
  width: 490px;
  height: 784px;
  z-index: 43;
}
.med6 {
  position: absolute;
  left: 1245px;
  top: -53px;
  width: 489px;
  height: 784px;
  z-index: 42;
}
.sm3_med6 {
  position: absolute;
  left: 1363px;
  top: 205px;
  width: 353px;
  height: 147px;
  z-index: 41;
}
.sm1_med6 {
  position: absolute;
  left: 1349px;
  top: 431px;
  width: 341px;
  height: 134px;
  z-index: 40;
}
.sm4_med6 {
  position: absolute;
  left: 1426px;
  top: 128px;
  width: 359px;
  height: 103px;
  z-index: 39;
}
.sm2_med6 {
  position: absolute;
  left: 1358px;
  top: 330px;
  width: 358px;
  height: 102px;
  z-index: 38;
}
.sm5_med6 {
  position: absolute;
  left: 1663px;
  top: -3px;
  width: 359px;
  height: 102px;
  z-index: 37;
}
.sm3_med3 {
  position: absolute;
  left: 1334px;
  top: 1023px;
  width: 352px;
  height: 147px;
  z-index: 36;
}
.sm1_med3 {
  position: absolute;
  left: 1319px;
  top: 810px;
  width: 341px;
  height: 134px;
  z-index: 35;
}
.sm4_med3 {
  position: absolute;
  left: 1396px;
  top: 1144px;
  width: 359px;
  height: 103px;
  z-index: 34;
}
.sm2_med3 {
  position: absolute;
  left: 1327px;
  top: 943px;
  width: 359px;
  height: 102px;
  z-index: 33;
}
.sm5_med3 {
  position: absolute;
  left: 1633px;
  top: 1276px;
  width: 359px;
  height: 102px;
  z-index: 32;
}
.sm1_med5 {
  position: absolute;
  left: 815px;
  top: 399px;
  width: 345px;
  height: 169px;
  z-index: 31;
}
.sm2_med5 {
  position: absolute;
  left: 826px;
  top: 336px;
  width: 359px;
  height: 103px;
  z-index: 30;
}
.sm3_med5 {
  position: absolute;
  left: 851px;
  top: 205px;
  width: 359px;
  height: 103px;
  z-index: 29;
}
.sm4_med5 {
  position: absolute;
  left: 966px;
  top: 91px;
  width: 353px;
  height: 147px;
  z-index: 28;
}
.sm5_med5 {
  position: absolute;
  left: 1142px;
  top: -22px;
  width: 359px;
  height: 119px;
  z-index: 27;
}
.sm1_med2 {
  position: absolute;
  left: 736px;
  top: 723px;
  width: 340px;
  height: 134px;
  z-index: 26;
}
.sm2_med2 {
  position: absolute;
  left: 697px;
  top: 849px;
  width: 360px;
  height: 102px;
  z-index: 25;
}
.sm3_med2 {
  position: absolute;
  left: 727px;
  top: 1006px;
  width: 358px;
  height: 103px;
  z-index: 24;
}
.sm4_med2 {
  position: absolute;
  left: 807px;
  top: 1100px;
  width: 353px;
  height: 147px;
  z-index: 23;
}
.sm5_med2 {
  position: absolute;
  left: 1031px;
  top: 1270px;
  width: 360px;
  height: 103px;
  z-index: 22;
}
.sm5_med4 {
  position: absolute;
  left: 515px;
  top: -17px;
  width: 358px;
  height: 141px;
  z-index: 21;
}
.sm4_med4 {
  position: absolute;
  left: 373px;
  top: 111px;
  width: 353px;
  height: 146px;
  z-index: 20;
}
.sm3_med4 {
  position: absolute;
  left: 222px;
  top: 221px;
  width: 359px;
  height: 102px;
  z-index: 19;
}
.sm2_med4 {
  position: absolute;
  left: 222px;
  top: 315px;
  width: 341px;
  height: 133px;
  z-index: 18;
}
.sm1_med4 {
  position: absolute;
  left: 195px;
  top: 449px;
  width: 359px;
  height: 103px;
  z-index: 17;
}
.sm5_med1 {
  position: absolute;
  left: 421px;
  top: 1270px;
  width: 359px;
  height: 103px;
  z-index: 16;
}
.sm4_med1 {
  position: absolute;
  left: 211px;
  top: 1107px;
  width: 353px;
  height: 147px;
  z-index: 15;
}
.sm3_med1 {
  position: absolute;
  left: 130px;
  top: 1026px;
  width: 360px;
  height: 102px;
  z-index: 14;
}
.sm2_med1 {
  position: absolute;
  left: 130px;
  top: 876px;
  width: 341px;
  height: 134px;
  z-index: 13;
}
.sm1_med1 {
  position: absolute;
  left: 112px;
  top: 747px;
  width: 358px;
  height: 103px;
  z-index: 12;
}
.sm5_medb2 {
  position: absolute;
  left: 1717px;
  top: 635px;
  width: 267px;
  height: 191px;
  z-index: 11;
}
.sm4_medb2 {
  position: absolute;
  left: 1764px;
  top: 856px;
  width: 259px;
  height: 205px;
  z-index: 10;
}
.sm3_medb2 {
  position: absolute;
  left: 1855px;
  top: 724px;
  width: 312px;
  height: 150px;
  z-index: 9;
}
.sm2_medb2 {
  position: absolute;
  left: 2036px;
  top: 894px;
  width: 216px;
  height: 261px;
  z-index: 8;
}
.sm1_medb2 {
  position: absolute;
  left: 2104px;
  top: 805px;
  width: 322px;
  height: 134px;
  z-index: 7;
}
.sm5_medb1 {
  position: absolute;
  left: 1944px;
  top: 466px;
  width: 262px;
  height: 199px;
  z-index: 6;
}
.sm4_medb1 {
  position: absolute;
  left: 2164px;
  top: 431px;
  width: 262px;
  height: 200px;
  z-index: 5;
}
.sm3_medb1 {
  position: absolute;
  left: 1668px;
  top: 366px;
  width: 262px;
  height: 200px;
  z-index: 4;
}
.sm2_medb1 {
  position: absolute;
  left: 1990px;
  top: 282px;
  width: 262px;
  height: 200px;
  z-index: 3;
}
.sm1_medb1 {
  position: absolute;
  left: 2205px;
  top: 240px;
  width: 262px;
  height: 199px;
  z-index: 2;
}

